node_modules
.pnpm-store
.turbo

dist
build
.svelte-kit
.vite
coverage

__pycache__
*.pyc
.venv
.pytest_cache
.ruff_cache
.mypy_cache

.DS_Store
.env
.env.*
!.env.example
*.log

assets-incoming/*
!assets-incoming/.gitkeep
